<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Info</title>
</head>
<body>
    <div th:fragment="card_details" th:object="${card}">
        <h1 th:text="*{name}">Nom de la carte</h1>
        <img th:src="*{imgUrl}" alt="Image Principale" style="width:200px;">
        <p th:text="*{description}">Description</p>
        <dl>
            <dt>Famille :</dt>
            <dd th:text="*{family}">Famille de la carte</dd>

            <dt>Affinité :</dt>
            <dd th:text="*{affinity}">Affinité de la carte</dd>

            <dt>Énergie :</dt>
            <dd th:text="*{energy}">0</dd>

            <dt>Points de vie (HP) :</dt>
            <dd th:text="*{hp}">0</dd>

            <dt>Défense :</dt>
            <dd th:text="*{defence}">0</dd>

            <dt>Attaque :</dt>
            <dd th:text="*{attack}">0</dd>

            <dt>Prix :</dt>
            <dd th:text="*{price}">0</dd>

            <dt>ID Utilisateur :</dt>
            <dd th:text="*{userId}">0</dd>
        </dl>
    </div>
</body>
</html>